body {
    background-color: #84b6f4;
}
marker {
    marker: rgb(255, 251, 0);
}
p {

    font-family: Arial;
    
    }
    ul {

        font-family: sans-serif;
        
        }
        ol {

            font-family: sans-serif;
            
            }
            h3 {
                color: red;
            }